* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  color: #3498db;
  margin-bottom: 10px; /* Add margin to create space */
}

.header p {
  font-size: 1.2em;
  color: #555;
  margin-top: 0; /* Ensure no extra margin on top */
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em; /* Adjust font size for emojis */
  color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.card .emoji {
  display: none;
}

.card.flipped .emoji {
  display: block;
}

.card.flipped {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
}

.card.matched {
  background-color: #95a5a6;
  cursor: default;
}
